<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.js"></script>
    <title>Vue 2 and 3</title>
    <style></style>
  </head>
  <body>
    <div id="app">
        <!-- v-if simples -->
        <button @click="exibirSaldo = !exibirSaldo">
            <span v-if="!exibirSaldo" >Exibir Saldo</span>
            <span v-if="exibirSaldo" >Ocultar Saldo</span>
        </button> <!-- toggle -->
        <p>Salto: <span v-if="exibirSaldo" >$ {{ saldo }}</span></p>
        <hr>

        <!-- v-if e v-else -->
        Idade: <input type="text" id="inputIdade" @blur="setIdade()">
        <p v-if="idade < 18">menor de idade <a><span></span></a></p>
        <p v-else>maior de idade</p>

        <!-- v-if v-else-if v-else -->
        Nota: <input type="text" id="inputNota" @blur="setNota()">
        <p v-if="nota == ''">Digita a nota rapaz</p>
        <p v-else-if="nota >= 7 && nota <= 10">Aprovado!</p>
        <p v-else-if="nota >= 5 && nota < 7">Recuperação!</p>
        <p v-else-if="nota >= 0 && nota < 5">Reprovado!</p>
        <p v-else>Digite uma nota de verdade</p>
    </div>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
            saldo: 4500.18,
            exibirSaldo: false,
            idade: 0,
            nota: 0
        },
        methods: {
            setIdade() {
                this.idade = inputIdade.value
            },
            setNota() {
                this.nota = inputNota.value
            }
        }
      });
    </script>
  </body>
</html>
