<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.js"></script>
    <title>Vue 2 and 3</title>
    <style></style>
  </head>
  <body>
    <div id="app">
        <span>Paciente: </span><input type="text" v-model="paciente">
        <br>

        <ul>
            <li v-for="p in lista"> {{ p.nome }}, {{ p.idade }} </li>
        </ul>

    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
            paciente: '',
            pacientes: [
                { nome: 'matheus Gaspar', idade: 26 },
                { nome: 'matheus Sousa', idade: 33 },
                { nome: 'mateus Arthur', idade: 16 },
                { nome: 'mateus Diniz', idade: 19 }
            ],
            lista: []
        },
        methods: {},
        computed: {},
        watch: {
            paciente(valorNovo) {
                console.log(valorNovo)
                this.lista = this.pacientes.filter(p => p.nome.match(valorNovo))
            }
        }
      });
    </script>
  </body>
</html>
